.main-header{
  height: var(--header-height);
  width: 100%;
  z-index: var(--z-fixed);
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  @include from(lg) {
    justify-content: flex-start;
    column-gap: 1em;
    padding: 0 7%;
  }
  .main-logo{
    width: 80%;
    max-width: 150px;
    margin-right: 1em;
    img,svg{
      width: 100%;
      height: auto;

    }
  }
  .toggle-menu{
    transform-origin: center;
    transform: scale(.8);
  }
}

.user-name-header{
  transform: translateY(50%);
  i{
    margin-left: .5em;
  }
}
.btn-subscribe{
  margin-left: auto;
}
